.dogInput_divParent {
  width: 100%;
}

.dogInput_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;

  ::placeholder {
    color: #a1a1a1;
  }
}

.dogInput_label {
  font-family: 'Rokkitt', serif;
  font-weight: 600;
}

.dogInput_input {
  width: 70%;
  margin: 0 3rem;
  margin-top: 1rem;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #9b9b9b;
  color: black;
  font-family: 'Rokkitt', serif;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .dogInput_label {
    font-size: 20px;
  }

  .dogInput_input {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .dogInput_label {
    font-size: 24px;
  }

  .dogInput_input {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  .dogInput_label {
    font-size: 26px;
  }

  .dogInput_input {
    font-size: 26px;
  }
}